:root {
  --bg-default: hsl(240deg 14% 99%);
  --nord0base: 220deg 16% 22%;
  --nord1base: 222deg 16% 28%;
  --nord2base: 220deg 17% 32%;
  --nord3base: 220deg 16% 36%;
  --nord4base: 219deg 28% 88%;
  --nord5base: 218deg 27% 92%;
  --nord6base: 218deg 27% 94%;
  --nord7base: 179deg 25% 65%;
  --nord8base: 193deg 44% 63%;
  --nord9base: 210deg 34% 67%;
  --nord10base: 213deg 32% 52%;
  --nord11base: 354deg 42% 56%;
  --nord12base: 14deg 51% 63%;
  --nord13base: 40deg 71% 73%;
  --nord14base: 92deg 28% 65%;
  --nord15base: 311deg 20% 63%;
  --nord0: hsl(var(--nord0base));
  --nord1: hsl(var(--nord1base));
  --nord2: hsl(var(--nord2base));
  --nord3: hsl(var(--nord3base));
  --nord4: hsl(var(--nord4base));
  --nord5: hsl(var(--nord5base));
  --nord6: hsl(var(--nord6base));
  --nord7: hsl(var(--nord7base));
  --nord8: hsl(var(--nord8base));
  --nord9: hsl(var(--nord9base));
  --nord10: hsl(var(--nord10base));
  --nord11: hsl(var(--nord11base));
  --nord12: hsl(var(--nord12base));
  --nord13: hsl(var(--nord13base));
  --nord14: hsl(var(--nord14base));
  --nord15: hsl(var(--nord15base));
  --nord0-light: hsl(var(--nord0base) / 45%);
  --nord1-light: hsl(var(--nord1base) / 45%);
  --nord2-light: hsl(var(--nord2base) / 45%);
  --nord3-light: hsl(var(--nord3base) / 80%);
  --nord4-light: hsl(var(--nord4base) / 15%);
  --nord5-light: hsl(var(--nord5base) / 45%);
  --nord6-light: hsl(var(--nord6base) / 45%);
  --nord7-light: hsl(var(--nord7base) / 45%);
  --nord8-light: hsl(var(--nord8base) / 45%);
  --nord9-light: hsl(var(--nord9base) / 45%);
  --nord10-light: hsl(var(--nord10base) / 45%);
  --nord11-light: hsl(var(--nord11base) / 45%);
  --nord12-light: hsl(var(--nord12base) / 45%);
  --nord13-light: hsl(var(--nord13base) / 45%);
  --nord14-light: hsl(var(--nord14base) / 45%);
  --nord15-light: hsl(var(--nord15base) / 45%);
  --nord8-dark: hsl(193deg 43% 67%);
  --nord9-dark: hsl(210deg 34% 59%);
}
