.layout {
  height: 100dvh; /* issue with edge mobile: not hiding search bar */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

header {
  grid-area: header;
}

.main {
  grid-area: main;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
