.button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: var(--fs-1);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0.25em;
  user-select: none;
  line-height: var(--lh-0);
  padding: 0.375em 0.75em;
  transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s,
    box-shadow 200ms ease-in 0s, color 200ms ease-in 0s;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button + .button {
  margin-left: 0.5em;
}

.primary {
  color: var(--nord1);
  background-color: var(--nord8-dark);
  border: none;
}

.primary:hover:not(:disabled) {
  background-color: var(--nord8);
}

.secondary {
  color: var(--nord3);
  border: 0.0625em solid var(--nord3);
}

:global(.bg-dark) .secondary {
  color: var(--nord6);
  border-color: var(--nord3);
}

.secondary:hover:not(:disabled) {
  border-color: var(--nord9-dark);
  color: var(--nord9-dark);
}
