@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fs-sm: 12px;
    --fs-base: 16px;
    --fs-lg: 24px;
    --fs-xl: 30px;
}


@layer base {
    .font-h1 {
        @apply font-rubik text-xl font-medium tracking-tight text-cobalt-blue-700;
    }

    .font-h2 {
        @apply font-rubik text-lg font-medium tracking-tight text-cobalt-blue-700;
    }

    .font-h3 {
        @apply font-rubik text-[18px] font-medium tracking-tight text-space-gray;
    }

    .font-default {
        @apply font-poppins text-base font-normal text-space-gray;
    }

    .font-strong {
        @apply font-poppins text-base font-semibold text-space-gray;
    }

    .font-small {
        @apply font-poppins text-sm font-light text-space-gray;
    }

    .font-button {
        @apply font-poppins text-base font-semibold text-white;
    }

    .font-link {
        @apply font-poppins text-base font-normal text-cobalt-blue-700 underline;
    }
}

@layer components {
    .sidebar-logo {
        @apply font-button text-white flex items-center justify-center pt-6 h-12;
    }

    .sidebar-link {
        @apply font-button flex items-center overflow-x-hidden rounded-lg p-2 text-white transition-colors duration-300 hover: bg-cobalt-blue-700;
    }

    .sidebar-link-active {
        @apply font-button flex items-center rounded-lg bg-cobalt-blue-700 border-2 shadow-white text-white hover: bg-cobalt-blue-700/10;
    }

    .sidebar-icon {
        @apply h-6 w-6 max-w-6 flex-shrink-0 flex-grow text-current;
    }
}